/**
	MetaBarcoding Taxonomic Profiling Pipeline(MT2P)
	Copyright (C) 2018 	Dr Bruno Andrade 	      
*/

manifest
{

  description = 'MT2P : MetaBarcoding Taxonomic Profiling'
  mainScript = '16sNMP.nf'
}

trace 
{
    enabled = false
    fields = 'task_id, name, status, exit, module, submit, start, complete, duration, realtime, %cpu, rss, vmem, peak_rss, peak_vmem'
}

timeline 
{
    enabled = false
}


params 
{
	//Mandatory arguments
	
	//Arguments for read
	input = null
	//These are for version and help printing
	help = null
	version = null
	

	// Work Flow parameters


	//Natively, this pipeline can deal with paired-end reads (two files, library="paired-end")
	//or single-end (one file, library="single-end")
	library = "paired-end"


	// External files

		
	//Adapter sequences and contaminants to be removed in the trimming step
	adapters="./Databases/adapters.fa"	
	artifacts="./Databases/sequencing_artifacts.fa.gz"
	phix174ill="./Databases/phix174_ill.ref.fa.gz"	
	reference="./Databases/99_otus.fasta"
        table="./QiimeRef/taxonomy_7_levels.txt"


	// SOFTWARE PARAMETERS


	//BBduk parameters for trimming	
	//Pcoding=33 //Phred 33 (ASCII+33) or 64 (ASCII+64)
	//kcontaminants = 23 //Kmer length used for finding contaminants	
	//Quality = 25 //regions with average quality BELOW this threshold will be trimmed 
	//minlength = 100 //reads shorter than this after trimming will be discarded
        //mink = 11 //shorter kmers at read tips to look for 
	//hdist = 1  //maximum Hamming distance for ref kmers  	
	
	//Dada2 parameters
	LocF = 220
	LocR = 175
	Trim = 20

	//Qiime parameters
	Similarity = 0.9 // Similarity of 90%
	Confidence = 0.5

	//The OTU matrix must be normalized before downstream analyses are performed
	//Qiime can perform several normalization methods but every method has its own limitations
	//The options are Rarefaction, DESeq2 and CSS
	//Be aware that the pipeline will not perform presence/absence analysis like Jaccard or unweighted UniFrac with DESeq2 or CSS
	//For more informations regarding this issue, please check the paper "Normalization and microbial differential abundance strategies depend upon data characteristics"
	Normalization = "Rarefaction"
	tree = 'fasttree'
	Depth = 1000 //Number of sequences to subsample
	RelP = 0.5 //Minimum percentage of the taxa relative abundance to be considered for the barplots
	Fig = 'pdf' //Change the figure format (pdf, png, jpeg)
	//Diversity metrics arguments
	//Alpha diversity can have any combination of these three metrics (PD_whole_tree,chao1,observed_otus)
	alpha_metrics = "PD_whole_tree,chao1,observed_otus"
	//Beta diversity metrics are (weighted_unifrac, unweighted_unifrac), as default this pipeline will generate both matrices

	
}


process 
{
	//executor should be set to 'pbs' when a resource manager belonging to the 
	//PBS/Torque family of batch schedulers is used, or set to 'sge' when using  
	//a Sun Grid Engine cluster (or a compatible platform, e.g., Open Grid Engine)
	executor = 'local'
	
	//Set the used queue, this queue will be used for all the processes	
	queue = 'metagenome'
	
	
	//$trim 
	//{
	//	time =  '2h'
	//	cpus = 8
	//	memory = '30 GB'

	//}

	$qualityAssessment
        {
                time =  '2h'
                cpus = 8
                memory = '30 GB'

        }







	$binning
        {
                time =  '2h'
                cpus = 8
                memory = '30 GB'

        }

        $classification
        {
                time =  '2h'
                cpus = 8
                memory = '40 GB'

        }

        $diversity
        {
                time =  '2h'
                cpus = 8
                memory = '40 GB'

        }


























}

